header > nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
}

#logo {
	padding-left: 20px;
}

#search {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
}

#search > input {
    box-sizing: border-box;
	border-style: solid;
	border-right: none;
	border-radius: 3px 0px 0px 3px;
    width: 80%;
}

#search > button {
    box-sizing: border-box;
	border-radius: 0px 5px 5px 0px;
	border-style: solid;
    width: 20%;
    background-color: rgb(16, 114, 212);
	border-color: rgb(16, 114, 212);
    color: white;
}

#userpic {
	padding-right: 20px;
}

section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 60px auto;
    background-color: white;
    padding: 50px;
}

article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
	border-radius: 5px;
}

.post-info {
	padding: 10px;
	padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header + img {
    width: 100%;
}

header ~ p {
    padding: 10px;
    font-weight: bold;
}

.like-button {
    padding: 10px;
}

.like-button button {
	border-radius: 5px;
	border-style: solid;
	border-color: rgb(16, 114, 212);
    background-color: rgb(16, 114, 212);
}

#pageHeader {
    width: 100%;
    position: fixed;
}

#namemail {
    background-color: white;
    width: 15%;
    position: relative;
    float: right;
}

.header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author {
    margin-left: 12px;
}