html, body {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: large;
    border-left: 10px;
    border-right: 10px;
}

a {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

form input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.flex-container {
    display: flex;
    height: 100%;
    background-color: dodgerblue;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    background-image: url('/HW1/res/images/postit-logo.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
    align-items: center;
}

form input {
    line-height: 2em;
}

.login_button_holder {
    text-align: center;
}

.login_button {
    padding-left: 15px;
    padding-right: 15px;
    background-color: blue;
    color: white;
}